
@{
    ViewData["Title"] = "Index";
}

<div class=" container-fluid">
    <div class="row" id="content">
        <div class="col-sm-4">
            <a href="LabtopProducts">
                <img class="img-fluid" id="menuimg" src="~/pic/LABTOP1.jpg" asp-controller="Products" asp-action="Index"/>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="MobileProducts">
                <img class="img-fluid" id="menuimg" src="~/pic/MOBILE1.jpg" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="TabletProducts">
                <img class="img-fluid" id="menuimg" src="~/pic/TABLET1.jpg" />
            </a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" id="content">
        <div class="col-sm-4">
            <a href="TvProducts">
                <img class="img-fluid" id="menuimg" src="~/pic/TV1.jpg" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="HeadphoneProducts">
                <img class="img-fluid" id="menuimg" src="~/pic/HEADPHONE1.jpg" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="CameraProducts">
                <img class="img-fluid" id="menuimg" src="~/pic/CAMERA1.jpg" />
            </a>
        </div>
    </div>
</div>